<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8" />
    <title>漂亮的后管页面</title>
    <style type="text/css">
        #menu{
            text-align-last:justify
        }
    </style>
</head>
<body>
<h1 align="center">漂亮的后管页面</h1>

<table align="center">

    <tr>
        <td id="menu">
            <a href="/questionList" >题目列表</a>
        </td>
    </tr>

    <tr>
        <td id="menu">
            <a href="/studentList" >学生列表</a>
        </td>
    </tr>

    <tr>
        <td id="menu">
            <a href="/waitscore" >待评分</a>
        </td>
    </tr>

</table>
<img src="/image/home.jpg" style="position: absolute;top: 10px;left: 10px" onmouseover="javascript:window.location='/gohome';"/>
</body>
</html>