<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8" />
    <title>漂亮的注册页</title>
    <style type="text/css">
        #mark{
            text-align-last:justify
        }
    </style>
    <script type="text/javascript" src="/js/md5.min.js"></script>
    <script th:inline="javascript">
        function oncommit(){
            if(document.regform.oripassword.value==document.regform.password.value){
                alert("新密码与原密码相同");
                alert("不想改就甭改");
                window.location="/";
            }
            return (checkoripassword()&&checkpassword());
        }
        function checkoripassword(){
            var ok=false;
            var realpassword=/*[[${session.user.password}]]*/ "666";;
            var oripassword=document.regform.oripassword.value;
                oripassword=md5(oripassword);
            var realpassinfo=document.getElementById("realpassinfo");
            if(oripassword!=realpassword){
                realpassinfo.innerHTML="原密码不正确";
                return ok;
            }else{
                realpassinfo.innerHTML="&nbsp;";
            }

            return true;
        }
        function checkpassword(){
            var ok=false;
            var p1=document.regform.password.value;
            var p2=document.regform.conpassword.value;
            var passwordinfo=document.getElementById("passwordinfo");
            if(p1!=p2){
                passwordinfo.innerHTML="两次输入的密码不一致";
                return ok;
            }else{
                passwordinfo.innerHTML="&nbsp;";
            }
            return true;
        }
    </script>
</head>
<body>
<h1 align="center">漂亮的修改密码页</h1>
<br><h3 style="color: red" th:text="${errinfo}"></h3><br>
<div>
    <table align="center">
        <form name="regform" method="post" action="/changepassword" onsubmit="return oncommit();">
            <tr><td style="color: red">*</td><td id="mark">原密码</td><td><input type="password" name="oripassword" onblur="checkoripassword();"></td></tr>
            <tr><td></td><td></td><td id="realpassinfo" style="color: red">&nbsp;</td></tr>
            <tr><td style="color: red">*</td><td id="mark">密码</td><td><input type="password" name="password"></td></tr>
            <tr><td></td><td></td><td id="passinfo" style="color: red">&nbsp;</td></tr>
            <tr><td style="color: red">*</td><td id="mark">确认密码</td><td><input type="password" name="conpassword" onblur="checkpassword();"></td></tr>
            <tr><td></td><td></td><td id="passwordinfo" style="color: red">&nbsp;</td></tr>
            <tr><td></td><td></td><td><div style="float: left;"><input type="reset" value="重置"></div><div style="float:right;"><input type="submit" value="提交"></div></td></tr>
        </form>
    </table>
</div>
<img src="/image/home.jpg" style="position: absolute;top: 10px;left: 10px" onmouseover="javascript:window.location='/gohome';"/>
</body>
</html>